.mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions button {
  margin: 5px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  min-width: 700px;
  width: 100%;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.actions {
  text-align: center;
}

.cabecalho-tabela {
  color: #707070;
}
